@charset "UTF-8";

body{
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(195, 29, 29);
}

h2{
    color: rgb(27, 180, 27);
}

p{
    text-align: justify;
}